<h4>Formularios <small>Data</small></h4>
<hr>

<form [formGroup]='forma' (ngSubmit)='guardarCambios()'>

    <div>
        <div class="form-group row" [ngClass]="{'has-danger': !forma.get('nombre').valid}">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="Nombre" formControlName='nombre'>

                <div *ngIf="forma.controls['nombre'].errors?.required" class="form-control-feedback">
                    el nombre es necesario
                </div>
                <div *ngIf="forma.controls['nombre'].errors?.minlength" class="form-control-feedback">
                    minimo 3 caracteres
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-md-8">
                <input class="form-control" type="text" placeholder="Apellido" formControlName='apellido'>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Correo</label>
        <div class="col-md-8">
            <input class="form-control" type="email" placeholder="Correo electronico" formControlName='correo'>

        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <!--[disabled]='!forma.valid' -->
            <button [disabled]='!forma.valid' type="submit" class="btn btn-outline-primary">Guardar</button>
        </div>
    </div>

</form>
{{forma.valid}}