<h4>Formularios <small>Template</small></h4>
<hr>

<form (ngSubmit)="guardar(forma)" #forma="ngForm" novalidate="">

    <div>
        <div class="form-group row" [ngClass]="{'has-danger': (nombre.errors?.minlength || nombre.errors?.required) && nombre.touched }">
            <label class="col-2 col-form-label">Nombre</label>
            <div class="col-8">
                <input class="form-control" type="text" placeholder="Nombre" name="nombre" [(ngModel)]='usuario.nombre' minlength="3" required #nombre='ngModel'>
                <div *ngIf="nombre.errors?.required" class="form-control-feedback">
                    este campo es requerido
                </div>
                <div *ngIf="nombre.errors?.minlength" class="form-control-feedback">
                    por lo menos {{nombre.errors.minlength.requiredLength}} caracteres.
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-2 col-form-label">Apellido</label>
            <div class="col-md-8">
                <input class="form-control" type="text" placeholder="Apellido" name="apellido" [(ngModel)]='usuario.apellido' minlength="3" required>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-2 col-form-label">Correo electronico</label>
        <div class="col-md-8">
            <input class="form-control" type="email" placeholder="Correo electronico" name="correo" [(ngModel)]='usuario.correo' #correo='ngModel' required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
            <div *ngIf='correo.errors?.required'>
                este campo es requerido
            </div>
            <div *ngIf="correo.errors?.pattern">
                este campo no tiene formato de correo
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Pais</label>
        <div class="col-md-8">
            <select [(ngModel)]="usuario.pais" class='form-control' name="pais">
                        <option value="">Seleccione un pais</option>
                        <option *ngFor="let pais of paises"
                        [value]="pais.codigo">{{pais.nombre}}</option>
        
             </select>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Sexo</label>
        <div class="col-md-8">

            <label *ngFor="let s of sexos" class="custom-control custom-radio">
                        <input [(ngModel)]="usuario.sexo"
                                name="sexo"
                                [value]="s" 
                                type="radio" 
                                class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-description">{{s}}</span>
                      </label>

            <!--<label class="custom-control custom-radio">
                            <input [(ngModel)]="usuario.sexo"
                                    name="sexo"
                                    value="Mujer" 
                                    type="radio" 
                                    class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Mujer </span>
                          </label>-->
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">Acepta</label>
        <div class="col-md-8">

            <label class="custom-control custom-checkbox">
            <input  [(ngModel)]="usuario.acepta"
                    name="acepta"
                    type="checkbox" 
                    class="custom-control-input"
                    required>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Acepta las condiciones</span>
            </label>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 col-form-label">&nbsp;</label>
        <div class="input-group col-md-8">
            <!--[disabled]='!forma.valid' -->
            <button [disabled]='!forma.valid' type="submit" class="btn btn-outline-primary">Guardar</button>
        </div>
    </div>
</form>
<pre>
    {{usuario |json }}
</pre>